<div fxLayoutGap="20px" style="height: 100%; padding: 15px">
  <form [formGroup]="form" fxFlex (ngSubmit)="save()">
    <div fxLayout="column" style="height: 100%">
      <div>
        <mat-form-field style="width: 100%">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title" />
        </mat-form-field>
        <div fxLayout="row">
          <mat-form-field style="width: 100%; margin-right: 10px">
            <mat-label>Slug</mat-label>
            <input matInput type="text" formControlName="slug" />
          </mat-form-field>
          <mat-checkbox
            formControlName="published"
            style="margin-bottom: 15px"
            fxFlexAlign="end"
            >Published</mat-checkbox
          >
          <button
            mat-button
            type="button"
            fxFlexAlign="center"
            style="margin: 0 5px"
          >
            Back
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            fxFlexAlign="center"
          >
            Save
          </button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxFlex style="overflow: hidden">
        <!-- <div fxLayout="row">
          <img
            [src]="getImageSrc()"
            alt="Selected image"
            width="160px"
            height="120px"
          />
          <button
            mat-icon-button
            (click)="openImageSelectDialog()"
            fxFlexAlign="end"
          >
            <mat-icon>image</mat-icon>
          </button>
        </div> -->
        <div fxFlex style="height: 100%">
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="26"
            cdkAutosizeMaxRows="26"
            type="text"
            formControlName="content"
          ></textarea>
        </div>
        <div
          *ngIf="getContentHtml()"
          style="overflow: auto; border-left: 1px solid rgba(0, 0, 0, 0.12)"
          fxFlex
        >
          <p [innerHtml]="getContentHtml()" style="padding-left: 10px"></p>
        </div>
      </div>
    </div>
  </form>
</div>
