<div style="margin: 15px">
  <form
    [formGroup]="form"
    fxLayout="column"
    style="padding: 15px"
    class="mat-elevation-z3"
  >
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Slug</mat-label>
      <input matInput type="text" formControlName="slug" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image</mat-label>
      <input matInput type="text" formControlName="image" />
    </mat-form-field>
    <mat-checkbox formControlName="published">Published</mat-checkbox>
    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea
        matInput
        type="text"
        formControlName="content"
        style="height: 10rem"
      ></textarea>
    </mat-form-field>
    <p>Blog Post Preview:</p>
    <p
      [innerHtml]="getContentHtml()"
      class="mat-elevation-z3"
      style="padding: 10px"
    ></p>
  </form>
</div>
